@model IEnumerable<MvcCorePaginacionRegistros2023.Models.VistaDepartamento>

@{
    int numeroregistros = (int)ViewData["REGISTROS"];
    int numeropagina = 1;
}

@{
    ViewData["Title"] = "PaginarGrupoVistaDepartamento";
}

<h1>PaginarGrupoVistaDepartamento</h1>

<ul class="list-group list-group-horizontal">
    @for(int i = 1; i <= numeroregistros; i += 2)
    {

        <li class="list-group-item list-group-item-danger">
            <a asp-controller="Paginacion"
                asp-action="PaginarGrupoVistaDepartamento"
                asp-route-posicion="@i">
                @numeropagina 
            </a>
        </li>

        numeropagina += 1;
    }

</ul>

<hr />
@Html.Raw(ViewData["LINKS"])
<hr />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posicion)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.IdDepartamento
            </td>
            <td>
                @item.Nombre
            </td>
            <td>
                @item.Localidad
            </td>
            <td>
                @item.Posicion
            </td>
           
        </tr>
}
    </tbody>
</table>
