@model IEnumerable<MvcCorePaginacionRegistros2023.Models.Empleado>


@{
    int numeroregistros = (int)ViewData["REGISTROS"];
    int numeropagina = 1;
}

@{
    ViewData["Title"] = "PaginarGrupoEmpleados";
}

<h1>PaginarGrupoEmpleados</h1>

<ul class="list-group list-group-horizontal">
    @for (int i = 1; i <= numeroregistros; i += 2)
    {

        <li class="list-group-item list-group-item-danger">
            <a asp-controller="Paginacion"
           asp-action="PaginarGrupoEmpleados"
           asp-route-posicion="@i">
                @numeropagina
            </a>
        </li>

        numeropagina += 1;
    }

</ul>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDepartamento)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oficio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartamento)
            </td>
           
        </tr>
}
    </tbody>
</table>
